<template>
  <div id="app">
    <addTodo v-on:add-todo="addTodos" />
    <Todo v-bind:Todos="todos" v-on:del-todo="deleteTodo" />
    <button @click="logout">Logout</button>
  </div>
</template>

<script>
import Todo from "../components/Todo";
import addTodo from "../components/addTodo";
import axios from "axios";

export default {
  name: "Home",
  components: {
    Todo,
    addTodo
  },
  data() {
    return {
      todos: []
    };
  },
  methods: {
    deleteTodo(id) {
      this.todos = this.todos.filter(todo => todo.id !== id);
    },
    addTodos(newTodo) {
      const { title, completed } = newTodo;
      axios
        .post(`http://localhost:3000/api/posts`, {
          title,
          completed
        })
        .then(res => (this.todos = [...this.todos, res.data]))
        .catch(err => console.log(err));
    },
    logout() {
      localStorage.clear();
      this.$router.push("/login");
    }
  },
  created() {
    axios
      .get("https://jsonplaceholder.typicode.com/todos?_limit=5")
      .then(res => {
        this.todos = res.data;
      })
      .catch(err => console.log(err));
    if (localStorage.getItem("token") === null) {
      this.$router.push("/login");
    }
  }
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.btn {
  display: inline;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 5px;
  cursor: pointer;
}
.btn:hover {
  background: #666;
}
</style>