<template>
<div>
    EMAIL:<input type="email" name="email" v-model="email"  required/><br>
    Password:<input type="password" name="password" v-model="password" required /><br>
    <button type="submit" @click="login">Login</button><br>
    {{error}}
</div>
</template>
<script>
import Axios from 'axios'
export default {
    name: "Login",
     data() {
      return {
          email: "",
          password: "",
          error: ""
      }
  },
  methods: {
      login() {
          let user = {
              email : this.email,
              password: this.password
          }
          Axios.post('http://localhost:3000/api/user/login', user)
          .then(res => {
              console.log(res);
              if(res.status === 200) {
                  localStorage.setItem('token', res.data.token)
              }
              this.error = "";
              this.$router.push('/')
          }).catch(err => {
              console.log(err.response);
              this.error = err.response.data.message
          })
      }
  }
}
</script>

<style scoped>

</style>