<template>
<div>
    Name:<input type="text" v-model="name" name="Name"  required/><br>
    EMAIL:<input type="email" name="email" v-model="email"  required/><br>
    Password:<input type="password" name="password" v-model="password" required /><br>
    <button type="submit" @click="register">Register</button><br>
    {{error}}
</div>
</template>

<script>
import Axios from 'axios';
export default {
  name: "Register",
  data() {
      return {
          name: "",
          email: "",
          password: "",
          error: ''
      }
  },
  methods: {
      register() {
          let newUser = {
              name: this.name,
              email: this.email,
              password: this.password,
          }

          Axios.post('http://localhost:3000/api/user/signup', newUser)
          .then(res =>{
              console.log(res);
              this.error = ''
              this.$router.push('/login')
          })
          .catch(err => {
              console.log(err.response)
              this.error = err.response.data.error._message
              })
      }
  }
};
</script>

<style scoped>
</style>