<template>
  <div class="todo-item" v-bind:class="{'is-complete':todoItem.completed}">
    <p>
      <input type="checkbox" v-on:change="markCompleted" />
      {{todoItem.title}}
      <button class="del" @click="$emit('del-todoItemId',todoItem.id)">x</button>
    </p>
  </div>
</template>

<script>
export default {
    name: "todoItem",
    props: ["todoItem"],
    methods: {
        markCompleted() {
           this.todoItem.completed = !this.todoItem.completed;
        }
    }
}
</script>

<style  scoped>
.todo-item {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}
.is-complete {
  text-decoration: line-through;
}
.del {
  background: red;
  color: #fff;
  border: none;
  padding: 5px 9x;
  border-radius: 50px;
  cursor: pointer;
  float: right;
}
</style>