<template>
  <div>
    <div v-bind:key="todo.id" v-for="todo in Todos">
      <todoItem v-bind:todoItem="todo" v-on:del-todoItemId = "$emit('del-todo',todo.id)" />
    </div>
  </div>
</template>

<script>
import todoItem from "./todoItem.vue";
export default {
  name: "Todo",
  props: ["Todos"],
  components: {
    todoItem
  }
};
</script>

<style scoped>
</style>